[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pep8 = "*"
jedi = "*"
rope = "*"
autopep8 = "*"
yapf = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask-migrate = "*"
flask-script = "*"
marshmallow = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
