[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pep8 = "*"
jedi = "*"
rope = "*"
autopep8 = "*"
yapf = "*"


[packages]
django = "*"
django-redis = "*"
djangorestframework = "*"
django-filter = "*"
markdown = "*"
psycopg2-binary = "*"
uwsgi = "*"
kafka-python = "*"

[requires]
python_version = "3.7"
